.request-buttons {
	display: flex;
	justify-content: space-between;
	width: 340px;
	margin: 20px 0 0 10px;

}

.request-button {
	width: 105px;
	padding: 0 5px;
	font-size: 15px;
	text-align: center;
	border: 1px solid black;
	appearance: none;
	outline: none;
	border-radius: 15px;
	background-color: rgba(219, 50, 75, 0.3);
	cursor: pointer;
}