.file-loader-container {
	height: 100%;
	display: flex;
	border: 1px solid black;
}

.file-loader-files {
	width: 45%;
	height: 100%;
	border: 1px solid black;
}

.file-loader-form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border: 1px solid black;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-height: 150px;
	border: 1px solid black;
}

.file-raw {
	width: 95%;
	margin: 0 10px 10px 0;
	padding: 3px;
	border: 1px solid black;
	background-color: aquamarine;
	cursor: pointer;
}

.file-name {
	font-weight: 600;
	word-wrap: break-word;
}

.file-description {
	font-style: italic;
	word-wrap: break-word;
}

.file-progress-bar-container {
	width: 200px;
	height: 50px;
	margin: 10px auto;
	border: 1px solid black;
	border-radius: 8px;
}

.file-progress-bar {
	height: 100%;
	background-color: green
}

